---
layout: default
title: Home
---

<h1 class="post-title">
Welcome to my portfolio!
</h1>

<h3 class="post">
Hi there! I am a recent CS graduate from the Chinese University of Hong Kong. </br></br>

Please feel free to look through some of <a href="{{site.baseurl}}/mywork">my projects here!</a><br><br>

You can learn more <a href="{{ site.baseurl }}/about">about me here</a>, and
can view <a href="{{ site.baseurl }}/CV">my CV here</a> if you are interested in
hiring or working with me.
</h3>


<div id="contact-list" class="contact-box">
<!-- contact icons go here -->
{% if site.author.github %}

  <a href="https://github.com/{{ site.author.github }}">
    <i class="fa fa-github"></i> Github
  </a>

{% endif %}

{% if site.author.facebook %}
    <a href="https://facebook.com/{{ site.author.facebook }}">
      <i class="fa fa-facebook"></i> Facebook
    </a>
{% endif %}

{% if site.author.linkedin %}
    <a href="https://linkedin.com/in/{{ site.author.linkedin }}">
      <i class="fa fa-linkedin"></i> LinkedIn
    </a>
{% endif %}
</div>
